ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}



html {
    --secondary-color: #d8d8d8;
    --main-color: #4fa2a4;
    --p1: 2em;
    --p2: 1.5em;
    --p3: 1.17em;
    --p4: 1em;
    --p5: 0.83em;
    --p6: 0.75em;
    --h1: 2em;
    --h2: 1.5em;
    --h3: 1.17em;
    --h4: 1em;
    --h5: 0.83em;
    --h6: 0.75em;
    --white: #fff;
    --black: #000
}


.app__header-wrapper {
    background: var(--secondary-color);
}

.app__header {
    max-width: 1080px;
    margin: 0 auto;
    padding: var(--p6) var(--p4);
    display: flex;
    font-weight: bold;
    font-size: var(--h1);
}

.app__title {
    color: white;
    padding-right: var(--p1);
}

.app__title:first-child{
    border-right: 5px solid var(--black);
}
.app__title:last-child{
    margin-left: var(--h1);
}

.app__title-link.active {
    color: var(--black);
}

.app__page-title {
    padding-left: var(--p1);
}

.user-list {
    display: flex;
    gap: var(--p1);
    flex-wrap: wrap;
    margin-top: var(--p6);
}

.repository-list {
    margin-top: var(--p6);
}

.repository-list__item {
    font-size: var(--h2);
    padding:var(--p6) 0;

}

.card {
    flex-basis: 18%;
    background: var(--main-color);
    position: relative;
    cursor: pointer;
    border-radius: var(--p1);
}

.search-box__input {
    width: 280px;
    margin-top: var(--p6);
    padding: var(--p3) var(--p6);
    background: var(--secondary-color);
    color: var(--black);
    border: none;
    font-size: var(--h3);
}

.search-box__input:focus {
    outline: 2px solid var(--black);
}


.card__image-wrapper {
    padding: var(--p1);

}

.card__image {
    width: 70%;
    object-fit: cover;
    border-radius: var(--p1);
    margin: 0 auto;
    display: block;
}

.card__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.card__title {
    text-align: center;
    font-size: var(--h2);
    font-weight: bold;

}

.card:after {
    padding-bottom: 100%;
    content: '';
    display: block;
}

.navigation {
    cursor: pointer;
    display: flex;
    gap: var(--p3);
    align-items: center;
    font-size: var(--p3);
    margin-top: var(--h1);
}

.navigation--wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation__item {
    display: flex;
    align-items: center;
    gap: var(--h6);
}

.page__top {
    display: flex;
    justify-content: space-between;
}
